/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #af26ff54;
  box-shadow: 8px -2px 183px 52px rgb(175, 38, 255);
-webkit-box-shadow: 8px -2px 183px 52px rgb(175, 38, 255);
-moz-box-shadow: 8px -2px 183px 52px rgb(175, 38, 255);
}